.projects{
    max-width:1400px ;
    margin:auto;
    padding: 0px 40px 150px;
    min-height: 100vh;
}
.projects h1{
    text-align: center;
    font-size: 45px;
    color: grey;
    position: relative;
    width:fit-content;
    margin: auto;
    margin-bottom: 30px;
}
.projects >p{
    text-transform: capitalize;
    line-height: 1.7;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.projects-container{
    min-height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
    margin-top: 60px;
}
.projects-container .projects-box{
    overflow: hidden;
    min-height: 100px;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;


}
.projects-box img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}
.projects-box .projects-content{
    margin-top: 10px;
}
.projects-box .projects-content h2{
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 10px;
}
.projects-box .projects-content p{
    font-size: 16px;
    line-height: 28px;
    color: #3c3e41;
}
.demo-links {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}
.demo-links a{
    font-size: 15px;
    text-decoration: none;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color:#dedede;
    color: #000000;
    display:flex;
    align-items: center;
    gap: 5px;
}
.demo-links a:hover{
    background: linear-gradient(111.3deg, rgb(252, 56, 56) 11.7%, rgb(237, 13, 81) 81.7%);
    color: #fff;
    transform: translateY(-5px);
}
.projects-container .projects-box:hover{
    transform: translateY(-5px);
}

/* --large devices-- */

@media screen and (max-width:1120px){
    .projects{
        padding: 0px 30px 150px;
    }
    .projects-container{
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
        row-gap: 40px;
    }
}
/* --medium devices-- */

@media screen and (max-width:768px){
    .projects{
        padding: 0px 20px 150px;
        width: 70%;
    }
    .projects-container{
        grid-template-columns: 1fr;
        row-gap: 40px;
    }
    .projects-box img{
        height: 300px;
    }
}
@media screen and (max-width:576px){
    .projects{
        padding: 0px 10px 150px;
        width: 90%;
    }
    .projects >p{
        font-size: 16px;
    }
    .projects h1{
        font-size: 34px;
        margin-bottom: 20px;
    }
    .projects-container{
        grid-template-columns: 1fr;
        row-gap: 30px;
        margin-top: 40px;
    }
    .projects-box img{
        height: 230px;
    }
    .demo-links a{
        font-size: 13px;
        padding: 5px 10px;
    }
    .projects-box .projects-content h2{
        font-size: 17px;
    }
    .projects-box .projects-content p{
        font-size: 14px;
        line-height: 28px;
        color: #3c3e41;
    }
}


/* --small devices-- */

@media screen and (max-width:350px){
    
}