.contact{
    max-width: 1300px;
    margin:auto;
    padding: 0px 40px 150px;
}
.contact h1{
    text-align: center;
    font-size: 45px;
    color: grey;
    position: relative;
    width:fit-content;
    margin: auto;
}
.contact-right{
    width: 60%;
    margin:auto;
    padding: 20px 30px;
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;;
    border-radius: 10px;
    background-color: #f0f0f0;
}
form .input-box{
    margin:20px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.input-box label{
    font-size: 18px;
    font-weight: 500;
    color: grey;
}
.input-box input{
    height: 60px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 15px;
    outline: none;
}
.input-box input:focus{
    border: 2px solid red;
}
.input-box textarea{
    width: 100%;
    height: 220px;
    border: 1px solid grey;
    outline: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 15px;
    resize: none;
}
.input-box textarea:focus{
    border: 2px solid red;
}
form button{
    width: 100%;
    display: block;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(111.3deg, rgb(252, 56, 56) 11.7%, rgb(237, 13, 81) 81.7%);
    font-size: 16px;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: 400;
    transition: .3s;
}
form button svg{
    font-size: 22px;
    transition: .3s;
}
form button:hover{
    color: #ffffff;
    transform: translateY(-7px);
}
form button:hover svg{
    color: #ffffff;
    transform: translateX(10px);
}

/* --large devices-- */

@media screen and (max-width:1120px){
    .contact{
        padding:0px 20px 150px;
    }
    .contact-group{
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        gap: 30px;
    }
    .contact-left .contact-box{
        width: 100%;
        padding: 20px 20px 30px;
    }
    .contact-right{
        width: 80%;
    }
}

/* --medium devices-- */

@media screen and (max-width:768px){
    .contact-group{
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .contact-left .contact-box{
        width: 80%;
        padding: 20px 0px 30px;
    }
    .contact-left p{
        margin-top: 10px;
    }
    .contact-right{
        width: 90%;
    }
}
@media screen and (max-width:576px){
    .contact-group{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        margin-top: 50px;
    }
    .contact{
        padding: 0px 10px 100px;
    }
    .contact-left .contact-box{
        width: 100%;
        padding: 20px 0px 30px;
    }
    .contact-box h3{
        font-size: 15px;
    }
    .contact-left .contact-box p{
        font-size: 15px;
    }
    .contact h1{
        font-size: 24px;
    }
    .contact-right{
        padding: 10px 15px;
        width: 100%;
    }
    form .input-box{
        gap: 10px;
    }
    .input-box label{
        font-size: 13px;
    }
    .input-box input{
        height: 55px;
        font-size: 14px;
    }
    form button{
        font-size: 14px;
    }
    form button svg{
        font-size: 18px;
    }
    .contact h1::after{
        width: 130px;
    }
}


/* --small devices-- */

@media screen and (max-width:350px){

}