nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    transition: .5s
}
.nav-groups{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px 30px;
    max-width: 1300px;
    margin: auto;
    gap: 20px;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.nav-links a{
    color:black;
}
.nav-links a:hover{
    color:red;
}
.nav-groups .myName{
    font-size: 20px;
    color: rgb(74, 72, 72);
    font-weight: 600;
    text-transform: uppercase;
}
.nav-groups .myName span{
    background:linear-gradient(111.3deg, rgb(252, 56, 56) 11.7%, rgb(237, 13, 81) 81.7%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* --large devices-- */

@media screen and (max-width:1120px){
    .nav-links{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        gap: 29px;
        background-color: #fff;
        width: 100%;
        min-height: 60vh;
        padding-top: 20px;
        position: absolute;
        z-index: -100;
        top: 0;
        right: -100%;
        transition: .3s;
    }
    .nav-links.active{
        right: 0;  
        box-shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .hamburger{
        display: block;
    }
    .hamburger svg{
        font-size: 24px
    }
    .nav-links a{
        font-size: 20px;
    }
}

/* --medium devices-- */

@media screen and (max-width:768px){
    .nav-groups{
        padding: 20px 40px 30px;
    }
    .nav-links{
        padding-top: 50px;
        gap: 35px;
    }
    .nav-links a{
        font-size: 18px;
    }
}
@media screen and (max-width:576px){
     .nav-links{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        background-color: #fff;
        width: 100%;
        min-height: 50vh;
        position: absolute;
        z-index: -100;
        top: 0;
        right: -100%;
        transition: .3s;
        padding: 80px 0px 30px;
    }
    .nav-groups{
        padding: 20px 20px 20px;
    }
    .nav-groups .myName{
        font-size: 16px;
    }
    
    .nav-links a{
        font-size: 14px;
        color: rgb(75, 74, 74);
    }
}

/* --small devices-- */

@media screen and (max-width:350px){
    .hero-left h1{
        font-size: 25px;
        line-height: 40px;
    }
    .hero-left h2,.hero-left h2 span{
        font-size: 25px;
    }
}
